<template>
  <div>
    <el-container class="max-width-1200 tw-p-5">
      <el-header>
        <HeaderBlock/>
      </el-header>
      <el-col class="tw-flex tw-flex-col tw-gap-20">
        <HelpExtendBlock/>
        <ServicesBlock/>
        <DocumentsBlock class="tw-my-24 max-lg:tw-my-4" />
        <PartnersBlock/>
        <IntegrationBlock/>
        <TeamBlock/>
      </el-col>
    </el-container>
    <FooterBlock/>
  </div>
</template>
<script setup lang="ts">

import HeaderBlock from "~/pages/index/components/HeaderBlock.vue";
import HelpExtendBlock from "~/pages/index/components/HelpExtendBlock.vue";
import ServicesBlock from "~/pages/index/components/ServicesBlock.vue";
import DocumentsBlock from "~/pages/index/components/DocumentsBlock.vue";
import PartnersBlock from "~/pages/index/components/PartnersBlock.vue";
import IntegrationBlock from "~/pages/index/components/IntegrationBlock.vue";
import TeamBlock from "~/pages/index/components/TeamBlock.vue";
import FooterBlock from "~/pages/index/components/FooterBlock.vue";
</script>

<style scoped>
.max-width-1200 {
  max-width: 1200px;
  margin: 15px auto;
}
</style>