<template>
  <el-row :gutter="40" align="middle">
    <el-col :md="8" :sm="24" class="tw-text-center">
      <SectionTitle><span class="tw-leading-10">Актуальные документы для клиентов</span></SectionTitle>
    </el-col>
    <el-col :md="16" :sm="24">
      <el-row align="middle">
        <el-col :md="12" :sm="24" class="max-lg:tw-my-3">
          <el-row align="middle">
            <el-col :md="4" :sm="3" :xs="3">
              <a href="#">
              <el-icon :size="40">
               <el-icon-document/>
              </el-icon>
              </a>
            </el-col>
            <el-col :md="20" :sm="21" :xs="21">Актуальные документы для клиентов. Информация по технической поддержке
              LogiX
            </el-col>
          </el-row>
        </el-col>
        <el-col :md="12" :sm="24" class="max-lg:tw-my-3">
          <el-row align="middle" class="row">
            <el-col :md="4" :sm="3" :xs="3">
              <a href="#">
              <el-icon :size="40">
                <el-icon-document/>
              </el-icon>
              </a>
            </el-col>
            <el-col :md="20" :sm="21" :xs="21">
              <span class="">Руководство пользователя LogiX</span>
            </el-col>
          </el-row>
        </el-col>
      </el-row>
    </el-col>
  </el-row>
</template>
<script setup lang="ts">

</script>


<style scoped>

</style>