<template>
  <div class="tw-mt-4 tw-bg-gray-200">
    <div class="tw-max-w-[1200px] tw-mx-auto">
      <el-col class="tw-p-8 tw-clear-both">
        <SectionTitle>Свяжитесь с нами</SectionTitle>
        <el-row class="tw-mt-4">
          <el-col :md="12" :sm="24" :xs="24" class="tw-my-8">
            <el-row align="middle">
              <el-col :md="2" :sm="2" :xs="2">
                <a href="tel:+7 (977) 194-91-64">
                  <el-icon :size="40">
                    <el-icon-phone/>
                  </el-icon>
                </a>
              </el-col>
              <el-col :md="10" :sm="21" :xs="21"><a href="tel:+7 (977) 194-91-64">+7 (977) 194-91-64</a></el-col>
            </el-row>
            <el-row align="middle">
              <el-col :md="2" :sm="2" :xs="2">
                <a href="mailto:info@foxyway.ru">
                  <el-icon :size="40">
                    <el-icon-message/>
                  </el-icon>
                </a>
              </el-col>
              <el-col :md="10" :sm="21" :xs="21"><a href="mailto:info@foxyway.ru">info@foxyway.ru</a></el-col>
            </el-row>
            <el-row align="middle">
              <el-col :md="2" :sm="2" :xs="2">
                <a href="mailto:info@foxyway.ru">
                  <el-icon :size="40">
                    <el-icon-house/>
                  </el-icon>
                </a>
              </el-col>
              <el-col :md="15" :sm="21" :xs="21">Большой бульвар, 40 Инновационный центр Сколково, Москва, Россия
              </el-col>
            </el-row>
            <el-col :md="20" class="tw-my-4">
              <el-form class="tw-flex tw-flex-col tw-gap-3" id="formCall">
                <el-input v-model="name" placeholder="Name" clearable/>
                <el-input v-model="phone" placeholder="Phone" clearable/>
                <el-input v-model="email" placeholder="Email" clearable/>
              </el-form>
                <el-row  class="tw-my-5  tw-gap-4">
                <el-col :md="11"><el-button  type="success" size="large" class="tw-w-full">Отправить</el-button></el-col>
                <el-col :md="11"><p class="tw-text-gray-500">*Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</p></el-col>
                </el-row>
            </el-col>

          </el-col>

          <el-col :md="12" :sm="24" :xs="24" class="tw-text-center">
            <el-image src="/images/img_map.png" fit="fill"/>
          </el-col>
        </el-row>
      </el-col>
    </div>
  </div>
</template>
<script setup lang="ts">
const name = ref();
const phone = ref();
const email = ref();
</script>


<style scoped>

</style>