<template>

  <div class="tw-flex tw-flex-row tw-justify-between tw-items-center">
    <div class="logo">F<span class="tw-text-orange-500 tw-font-bold">O</span>XY WAY</div>
    <div class="tw-flex tw-row tw-items-center">
      <div class="tw-max-w-[80px] tw-mr-4">
        <el-select v-model="locale">
          <el-option label="Рус" value="ru"/>
          <el-option label="Eng" value="en"/>
        </el-select>
      </div>
      <div class="tw-flex tw-flex-col tw-items-end tw-gap-1 tw-text-green-600">
        <div><a href="tel: +7 (977) 194-91-64"> +7 (977) 194-91-64</a></div>
        <div><a href="mailto:info@foxyway.ru">info@foxyway.ru</a></div>
      </div>
    </div>
  </div>

</template>
<script setup lang="ts">
const {locale} = useI18n();
const localeRoute = useLocaleRoute()

watch(locale, () => {
  const route = localeRoute({name: 'index'});
  if (route) {
    navigateTo(route.fullPath)
  }
})
</script>


<style scoped>
.logo {
  font-size: 2rem;
}
</style>