<template>
  <el-row align="middle">
    <el-col :sm="24" :md="12">
      <div class="description-block">
        <SectionTitle>{{ $t('helpTitle') }}</SectionTitle>
        <p class="tw-mt-8">{{ $t('descriptionHelp') }}</p>

        <p class="tw-mt-4">Специализация в индустриях:</p>
        <div class="tw-flex tw-flex-row tw-gap-4 tw-mt-4">
          <el-tag class="ml-2" type="success" effect="plain" size="large">Логистика</el-tag>
          <el-tag class="ml-2" type="success" effect="plain" size="large">Грузоперевозки</el-tag>
          <el-tag class="ml-2" type="success" effect="plain" size="large">Недвижимость</el-tag>
        </div>
      </div>

      <div class="tw-mt-8">
        <NuxtLink to="#formCall">
          <el-button size="large" type="primary" class="max-lg:tw-w-full">Получить консультацию</el-button>
        </NuxtLink>
      </div>
    </el-col>
    <el-col :sm="24" :md="12" class="tw-text-center">
      <img class="tw-w-full tw-max-w-lg tw-inline-block" src="/images/Programming-bro.svg"/>
    </el-col>
  </el-row>
</template>
<script setup lang="ts">

import SectionTitle from "~/components/SectionTitle.vue";

const { locale } = useI18n();
</script>

<style scoped>
.header-title {
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
}

.description-block {
  max-width: 600px;
}
</style>