<template>
  <el-row align="middle">
    <el-col :sm="24" :md="12">
      <div class="description-block">
        <SectionTitle>Интеграция по API с Вашей ERP Системой</SectionTitle>
        <p class="tw-mt-8">Наш отдел разработки интегрирует вашу систему или CRM с вашей ERP для автоматизации изменений
          статусов и тд.</p>
          <ul class="tw-m-4  tw-list-disc">
            <li>Создание накладных</li>
            <li>Отслеживание груза</li>
            <li>Доступ к документам</li>
          </ul>
      </div>
      <el-row class="tw-mt-8" align="middle">
        <el-col :md="12" :sm="24" class="tw-text-center">
          <NuxtLink to="#formCall">
          <el-button size="large" type="primary" class=" max-lg:tw-w-full">Получить консультацию</el-button>
          </NuxtLink>
        </el-col>
      </el-row>
    </el-col>
    <el-col :sm="24" :md="12" class="tw-text-center max-xl:tw-hidden hidden-sm-and-down" >
      <img class="tw-w-full tw-max-w-xs tw-inline-block" src="/images/api.png"/>
    </el-col>
  </el-row>
</template>
<script setup lang="ts">

import SectionTitle from "~/components/SectionTitle.vue";
</script>

<style scoped>
@import 'element-plus/theme-chalk/display.css';
</style>