<template>
  <div>
    <SectionTitle>Наши Партнеры</SectionTitle>
    <swiper
        class="tw-my-8"
        :modules="[SwiperAutoplay]"
        :slides-per-view="1"
        :autoplay="{ delay: 1000 ,   disableOnInteraction: true}"
        loop
        :breakpoints="breakpoints"
        :space-between="50">
      <swiper-slide v-for="(slide,index) in slides" :key="index" class=" tw-text-center">
        <img class="tw-inline-block" :src="slide.img" :alt="slide.name">
      </swiper-slide>
    </swiper>
  </div>
</template>
<script setup lang="ts">


const breakpoints = {
  480: {slidesPerView: 2},
  768: {slidesPerView: 3},
  1024: {slidesPerView: 4},
}
  const generateSlides = (count: number) => {
  const slides = [];

  for (let i = 0; i < count; i++) {
    slides.push({
      name: `Slide ${i + 1}`,
      img: `https://source.unsplash.com/random/200x200?sig=${i}`,
    });
  }

  return slides;
}

const slides = generateSlides(35);
</script>


<style scoped>

</style>