<template>
  <div>
    <SectionTitle>Наши Услуги</SectionTitle>
    <el-row class="tw-mt-8" :gutter="20">
     <el-col v-for="(service,index) in services" :key="index" :sm="24" :md="12">
       <el-card class="box-card">
         <template #header>
           <div class="card-header">
             <SectionSubTitle>{{ service.title }}</SectionSubTitle>
           </div>
         </template>
         <p>
           {{ service.description }}
         </p>
       </el-card>
     </el-col>
    </el-row>
  </div>
</template>
<script setup lang="ts">


const services = [
  {
    title: 'Разработка индивидуальных решений для автоматизации бизнес-процессов',
    description: 'Кастомные высоконагруженные веб-приложения: проектирование, разработка, сопровождение.'
  },
  {
    title: 'LogiX',
    description: 'Система для комплексной автоматизации транспортно-логистической компании. Собственная разработка.'
  }, {
    title: 'Сопровождение ИТ-инфраструктуры ',
    description: 'Проектирование и поддержка ИТ-инфраструктуры любой сложности, от серверной составляющей до клиентских устройств, телефонии, систем видеонаблюдения и СКУД. География: вся Россия, успешный опыт организации централизованной ИТ-поддержки для множества удаленных территориально-распределённых филиалов и представительств. '
  }, {
    title: 'Аутсорсинг программистов',
    description: 'Снижение расходов через аутсорсинг разработки для компаний. Минус 22% от бюджета разработок'
  }, {
    title: 'Продвижение продуктов и услуг',
    description: 'Сбалансированная система продвижения продуктов и услуг в B2B и B2C сегментах. Работаем со сложными продуктами и продуктами массового спроса. Внедряем комплексную систему маркетинга с учетом сильных сторон вашего бизнеса и особенностей отрасли.'
  },

]
</script>

<style scoped>
.box-card{
  margin-top: 1rem;
}
</style>