<template>
  <div>
    <SectionTitle>
      Наша команда
    </SectionTitle>
    <el-row :gutter="20" align="middle">
      <el-col :md="8" :sm="24" :xs="24">
        <p class="max-lg:tw-my-2">К вашим услугам специалисты по программированию, проектированию
          бизнес аналитике, автоматизация бизнес процессов</p>
      </el-col>
      <el-col :md="16" :sm="24" :xs="24" class="tw-text-center">
        <el-image class="tw-max-h-[23rem] max-lg:tw-my-2" lazy src="https://source.unsplash.com/random/800x300?sig=34232323"/>
      </el-col>
      <el-col :md="12" :sm="24" :xs="24" class="tw-text-center">
        <el-image class="tw-max-h-[23rem] max-lg:tw-my-2" lazy src="https://source.unsplash.com/random/800x600?sig=3433232323"/>
      </el-col>
      <el-col :md="12" :sm="24" :xs="24" class="tw-text-center">
        <el-image class="tw-max-h-[23rem] max-lg:tw-my-2"  lazy src="https://source.unsplash.com/random/800x600?sig=33254232323"/>
      </el-col>
    </el-row>
  </div>
</template>

<script setup lang="ts">

</script>


<style scoped>

</style>